@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cms-about-bg: #b5cbb7;
  --cms-about-heading: #121619;
  --cms-about-body: #121619;
  --cms-news-bg: #121619;
  --cms-news-heading: #f5f5f5;
  --cms-news-body: #f5f5f5;
  --cms-socials-bg: #b5cbb7;
  --cms-socials-heading: #121619;
  --cms-socials-body: #121619;
  --cms-art-bg: #121619;
  --cms-art-heading: #f5f5f5;
  --cms-art-body: #f5f5f5;
  --cms-art-modal-bg: #121619;
  --cms-art-modal-text: #f5f5f5;
  --cms-art-modal-border: #b5cbb7;
  --cms-art-modal-tag-bg: #2d4739;
  --cms-art-modal-tag-text: #f5f5f5;
  --cms-art-modal-link: #b5cbb7;
  --cms-comics-bg: #121619;
  --cms-comics-heading: #f5f5f5;
  --cms-comics-body: #f5f5f5;
  --cms-tab-active-bg: #121619;
  --cms-tab-inactive-bg: #2d4739;
  --cms-tab-text: #f5f5f5;
  --cms-tab-panel-bg: #121619;
  --cms-tab-panel-border: #b5cbb7;
  --cms-tab-panel-text: #f5f5f5;
  --cms-comics-card-bg: #121619;
  --cms-comics-card-border: #b5cbb7;
  --cms-comics-tag-bg: #2d4739;
  --cms-comics-tag-text: #f5f5f5;
  --cms-comics-panel-bg: #121619;
  --cms-comics-panel-accent: #b5cbb7;
  --cms-comics-panel-text: #f5f5f5;
  --cms-writing-bg: #121619;
  --cms-writing-heading: #f5f5f5;
  --cms-writing-body: #f5f5f5;
  --cms-tab-active-bg: #121619;
  --cms-tab-inactive-bg: #2d4739;
  --cms-tab-text: #f5f5f5;
  --cms-tab-panel-bg: #121619;
  --cms-tab-panel-border: #b5cbb7;
  --cms-tab-panel-text: #f5f5f5;
  --cms-writing-card-bg: #121619;
  --cms-writing-card-border: #b5cbb7;
  --cms-writing-tag-bg: #2d4739;
  --cms-writing-tag-text: #f5f5f5;
  --cms-writing-panel-bg: #121619;
  --cms-writing-panel-accent: #b5cbb7;
  --cms-writing-panel-text: #f5f5f5;
  --cms-commissions-button: #121619;
  --cms-commissions-bg: #ffffff;
  --cms-about-card-bg:#121619;
  --cms-news-card-bg:#2d4739;
  --cms-filter-count-text:#f5f5f5;
  --cms-filter-text:#f5f5f5;
  --cms-filter-input-bg:#2d4739;
  --cms-filter-select-bg:#2d4739;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accents: #5398a2;
  --color-body:#ECF0F1;
  --color-onyx:#121619;
  --color-ashGrey:#b5cbb7;
  --color-pineTeal:#2d4739;
  --color-offWhite:#f5f5f5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-black;
  }
  h2 {
    @apply text-3xl font-semibold text-black;
  }
  h3 {
    @apply text-2xl font-medium text-black;
  }
  p {
    @apply text-lg leading-relaxed;
  }
}

li > a {
  cursor: pointer;
  text-decoration: none;
}

.commissions-social-icon {
  filter: brightness(0) invert(1);
}
